/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* container styles */
.container {
  background: rgba(255, 255, 255, 0.38);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  width: 450px;
  text-align: center;
  transition: all 0.3s ease;
}

/* heading styles */
h1 {
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

/* Styles for focused input and select elements */
input,
select {
  width: calc(100% - 20px);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}

input:focus,
select:focus {
  outline: none;
  border-color: #007bff;
}

/* Button styles */
button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
/* Styles for hovered buttons */
button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

button:hover {
  background-color: #9fc2e7;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #e0ab7f;
  color: #fff;
}

td {
  text-align: left;
}

input:focus,
select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
  transition: box-shadow 0.3s ease;
}
/* Styles for hovered containers */
.container:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Styles for the body element */
body {
  background: linear-gradient(to right, #f4f4f4, #007bff);
}

/* Styles for the delete button */
.delete-button {
  margin: 2.5px 0px 5px;
}
